---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout
	title="Edison Hills: Curated Vintage, Modern Gifts and Creative Classrom - Cookeville, Tennesseee"
>
	<main>
		<div class="banner">
			<ul>
				<li>Curated <br />Vintage</li>
				<li>Modern <br />Gifts</li>
				<li>Creative <br />Classroom</li>
			</ul>
		</div>

		<div class="container">
			<div class="mobile-logo-container">
				<svg
					width="406"
					height="190"
					viewBox="0 0 406 190"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					class="logo"
				>
					<path
						d="M46.4623 30.0836C46.3882 36.6887 38.5745 50.6283 30.4562 50.6283H22.6507V26.4123H24.3715C30.1515 26.4123 35.454 33.0174 35.5363 35.9512H37.1007V13.9396H35.5363C35.4622 16.8734 30.1515 23.4785 24.3715 23.4785H22.6507V2.2044H28.1178C36.2362 2.2044 44.0417 13.0643 44.124 19.6694H45.6884V0.737488H0.765727C0.815129 0.996829 0.864532 1.25618 0.9057 1.51552C0.946869 1.74244 0.979803 1.97747 1.02097 2.2044H1.56439C5.15425 2.2044 6.24932 3.45247 6.24932 6.60509V46.2276C6.24932 49.3802 5.15425 50.6283 1.56439 50.6283H0V52.0952H48.0103V30.0836H46.4459H46.4623Z"
						fill="#10111E"></path>
					<path
						d="M64.4858 50.6283C68.0756 50.6283 69.1707 49.3802 69.1707 46.2276V6.60509C69.1707 3.45247 68.0756 2.2044 64.4858 2.2044H62.9214V0.737488H89.623C104.378 0.737488 116.325 11.8162 116.325 26.4204C116.325 41.0246 104.378 52.1033 89.623 52.1033H62.9214V50.6364H64.4858V50.6283ZM85.5639 2.2044V46.2276C85.5639 49.3802 86.6589 50.6283 90.2488 50.6283C98.9929 50.6283 98.9929 42.4104 98.9929 26.4123C98.9929 10.4142 98.9929 2.19629 90.3229 2.19629H85.5639V2.2044Z"
						fill="#10111E"></path>
					<path
						d="M130.215 50.6283C133.805 50.6283 134.9 49.3802 134.9 46.2276V6.60509C134.9 3.45247 133.805 2.2044 130.215 2.2044H128.65V0.737488H157.534V2.2044H155.97C152.38 2.2044 151.285 3.45247 151.285 6.60509V46.2276C151.285 49.3802 152.38 50.6283 155.97 50.6283H157.534V52.0952H128.65V50.6283H130.215Z"
						fill="#10111E"></path>
					<path
						d="M170.576 30.0107H172.14C177.682 41.3082 181.98 48.6427 188.616 50.6283C190.567 51.2118 192.519 51.3658 194.47 51.3658C198.373 51.3658 200.168 48.505 200.168 44.9795C200.168 28.252 170.502 34.4114 170.502 14.9689C170.502 9.83066 178.777 0 191.424 0C195.639 0 198.999 3.22556 203.371 3.22556C205.248 3.22556 207.043 2.5691 207.973 0.729393H209.538V19.0697H207.973C207.504 10.0495 197.978 1.4588 191.424 1.4588C187.99 1.4588 185.331 3.88201 185.331 9.82255C185.331 21.5578 214.058 15.3255 214.058 34.3303C214.058 38.6581 210.073 52.8165 194.462 52.8165C188.921 52.8165 181.815 49.1452 176.348 49.1452C174.553 49.1452 173.071 49.7287 172.132 51.3496H170.568V30.0026L170.576 30.0107Z"
						fill="#10111E"></path>
					<path
						d="M253.711 0C268.465 0 280.413 11.8162 280.413 26.4123C280.413 41.0084 268.465 52.8246 253.711 52.8246C238.956 52.8246 227.092 41.0084 227.092 26.4123C227.092 11.8162 238.956 0 253.711 0ZM263.081 26.4123C263.081 10.4142 262.381 1.4669 253.711 1.4669C245.041 1.4669 244.341 10.4142 244.341 26.4123C244.341 42.4104 245.041 51.3577 253.711 51.3577C262.381 51.3577 263.081 42.4104 263.081 26.4123Z"
						fill="#10111E"></path>
					<path
						d="M336.228 11.7433C336.228 9.76581 334.664 2.2044 329.979 2.2044H328.415V0.737488H345.59V2.2044H344.026C339.341 2.2044 337.776 8.29891 337.776 10.2764V40.7976C348.002 58.5544 380.55 115.018 393.436 115.018C397.025 115.018 399.446 113.843 401.085 112.23C401.628 111.492 401.867 110.982 401.867 110.617C401.867 109.734 400.615 109.661 398.195 109.661C393.905 109.661 390.389 106.362 390.389 102.326C390.389 98.2904 393.905 94.9919 398.195 94.9919C402.484 94.9919 406 98.2904 406 102.326C406 114.434 396.004 119.718 384.766 119.718C358.064 119.718 327.55 55.5477 310.918 25.4641L301.861 9.10125V41.0894C301.861 43.0669 303.426 50.6283 308.11 50.6283H309.675V52.0952H292.5V50.6283H294.064C298.749 50.6283 300.313 44.5338 300.313 42.5563V6.60509C300.313 3.45247 299.218 2.2044 295.628 2.2044H294.064V0.737488H315.85L330.061 26.7851C332.087 30.5293 334.12 34.2655 336.228 38.0097V11.7433Z"
						fill="#10111E"></path>
					<path
						d="M117.576 118.535C121.166 118.535 122.261 117.287 122.261 114.135V74.512C122.261 71.3594 121.166 70.1113 117.576 70.1113H116.012V68.6444H144.895V70.1113H143.331C139.741 70.1113 138.646 71.3594 138.646 74.512V114.135C138.646 117.287 139.741 118.535 143.331 118.535H144.895V120.002H116.012V118.535H117.576Z"
						fill="#10111E"></path>
					<path
						d="M184.483 70.1113C180.893 70.1113 179.798 71.3594 179.798 74.512V114.135C179.798 117.287 180.893 118.535 184.483 118.535C192.601 118.535 200.406 103.858 200.489 97.2611H202.053V120.01H157.163V118.543H158.728C162.318 118.543 163.413 117.295 163.413 114.143V74.5201C163.413 71.3675 162.318 70.1194 158.728 70.1194H157.946V68.6525H185.273V70.1194H184.491L184.483 70.1113Z"
						fill="#10111E"></path>
					<path
						d="M241.393 70.1113C237.804 70.1113 236.708 71.3594 236.708 74.512V114.135C236.708 117.287 237.804 118.535 241.393 118.535C249.512 118.535 257.317 103.858 257.4 97.2611H258.964V120.01H214.074V118.543H215.639C219.228 118.543 220.324 117.295 220.324 114.143V74.5201C220.324 71.3675 219.228 70.1194 215.639 70.1194H214.856V68.6525H242.184V70.1194H241.402L241.393 70.1113Z"
						fill="#10111E"></path>
					<path
						d="M49.5993 118.859C53.0575 118.859 54.1031 117.603 54.1031 114.426V74.4958C54.1031 71.3189 53.0492 70.0627 49.5993 70.0627H48.1008V68.5877H75.8975V70.0627H74.399C70.9409 70.0627 69.8952 71.3189 69.8952 74.4958V91.8717H84.1641V74.4958C84.1641 71.3189 83.1102 70.0627 79.6603 70.0627H78.1618V68.5877H105.958V70.0627H104.452C100.994 70.0627 99.948 71.3189 99.948 74.4958V114.426C99.948 117.603 101.002 118.859 104.452 118.859H105.958V120.334H78.1618V118.859H79.6603C83.1184 118.859 84.1641 117.603 84.1641 114.426V93.3548H69.8952V114.426C69.8952 117.603 70.9491 118.859 74.399 118.859H75.8975V120.334H48.1008V118.859H49.5993Z"
						fill="#10111E"></path>
					<path
						d="M303.113 60.6535C309.238 60.6535 309.667 65.6863 309.667 69.7223V87.4305H308.242C307.814 78.7182 299.128 70.4274 293.15 70.4274C290.013 70.4274 287.592 72.7696 287.592 78.4994C287.592 89.8375 313.8 83.8159 313.8 102.156C313.8 113.559 301.268 120.01 289.519 120.01C279.334 120.01 269.791 115.123 269.791 104.28C269.791 100.381 272.994 97.1963 276.913 97.1963C280.832 97.1963 284.035 100.381 284.035 104.28C284.035 108.178 280.832 111.363 276.913 111.363C274.995 111.363 274.138 111.646 274.138 112.214C274.138 112.57 274.493 113.065 275.061 113.705C278.338 117.174 283.895 118.592 289.519 118.592C294.574 118.592 301.128 117.32 301.128 112.433C301.128 96.2805 274.064 102.229 274.064 83.4593C274.064 78.4994 281.615 69.0091 293.15 69.0091C296.921 69.0091 300.124 71.9105 304.183 71.9105C306.324 71.9105 308.176 71.0595 308.176 68.3689C308.176 67.5908 308.102 66.7399 307.888 65.9619C307.674 65.2568 307.386 64.9002 307.032 64.9002C306.818 64.9002 306.53 65.0379 306.324 65.4675C305.682 66.6021 304.545 67.5179 303.121 67.5179C301.194 67.5179 299.704 66.0267 299.704 64.114C299.704 62.2014 301.202 60.6454 303.121 60.6454L303.113 60.6535Z"
						fill="#10111E"></path>
					<path
						d="M31.5924 84.4642C26.8993 84.4642 23.0542 88.0707 23.0542 92.4876C23.0542 96.9045 26.8993 100.511 31.5924 100.511C31.9382 100.511 32.0206 100.592 32.0206 100.673C32.0206 100.997 29.8881 101.873 27.665 101.873C20.2383 101.873 16.1379 95.778 16.1379 88.873C16.1379 80.2094 22.626 70.1762 36.8866 70.1762C36.8866 70.1762 35.9233 70.1113 41.8351 70.1762C47.7468 70.241 54.9594 69.7385 49.1383 68.5715H32.0206C18.361 68.5715 10.679 77.2351 10.679 85.9798C10.679 97.4475 16.9942 104.271 27.665 104.271C34.4083 104.271 40.1307 99.4574 40.1307 92.4795C40.1307 88.0626 36.2856 84.4562 31.5924 84.4562V84.4642Z"
						fill="#10111E"></path>
					<path
						d="M18.4268 164.714H21.9343V189.562H20.5923L5.46709 172.503V189.562H1.8443V164.714H3.18638L18.4268 181.993V164.714Z"
						fill="#10111E"></path>
					<path
						d="M59.5043 168.167H48.076V174.488H59.389V177.941H48.076V186.175H59.389V189.595H44.5273V164.747H59.5043V168.167Z"
						fill="#10111E"></path>
					<path
						d="M107.161 164.714H110.783L103.538 189.562H102.27L95.51 172.543L88.5608 189.562H87.3258L80.1543 164.714H83.8183L88.4126 180.672L94.8348 164.714H96.1028L102.492 180.672L107.161 164.714Z"
						fill="#10111E"></path>
					<path
						d="M265.995 167.689C268.556 170.209 269.84 173.297 269.84 176.952C269.84 180.607 268.556 183.695 265.995 186.215C263.426 188.744 260.306 190 256.626 190C252.945 190 249.75 188.736 247.14 186.215C244.572 183.695 243.295 180.639 243.295 177.065C243.295 174.691 243.88 172.486 245.049 170.452C246.218 168.418 247.824 166.821 249.866 165.671C251.858 164.52 254.04 163.944 256.403 163.944C260.215 163.944 263.41 165.192 266.004 167.697L265.995 167.689ZM266.218 176.952C266.218 175.161 265.806 173.548 264.983 172.097C264.135 170.679 262.941 169.528 261.401 168.645C259.853 167.786 258.223 167.356 256.51 167.356C254.798 167.356 253.25 167.786 251.727 168.645C250.236 169.528 249.051 170.695 248.178 172.138C247.33 173.58 246.91 175.226 246.91 177.065C246.91 178.435 247.149 179.675 247.618 180.777C248.063 181.879 248.762 182.901 249.709 183.824C250.656 184.756 251.702 185.445 252.846 185.883C253.941 186.353 255.16 186.58 256.51 186.58C258.256 186.58 259.894 186.167 261.442 185.332C262.957 184.473 264.135 183.314 264.95 181.839C265.798 180.421 266.218 178.783 266.218 176.952Z"
						fill="#10111E"></path>
					<path
						d="M295.241 186.183H304.537V189.562H291.725V164.714H295.233V186.183H295.241Z"
						fill="#10111E"></path>
					<path
						d="M345.096 170.006C346.463 172.114 347.154 174.594 347.154 177.43C347.154 179.902 346.603 182.09 345.507 183.97C344.437 185.859 343.004 187.269 341.209 188.201C339.464 189.109 337.035 189.562 333.923 189.562H325.706V164.714H331.272C334.911 164.714 337.587 165.006 339.299 165.598C341.786 166.457 343.721 167.924 345.088 170.006H345.096ZM329.147 186.215H331.354C334.688 186.215 336.953 186.021 338.155 185.624C339.9 185.056 341.218 184.076 342.115 182.682C343.111 181.263 343.605 179.521 343.605 177.462C343.605 175.404 343.07 173.459 342 171.911C340.93 170.395 339.464 169.35 337.595 168.783C336.129 168.345 333.684 168.118 330.275 168.118H329.155V186.207L329.147 186.215Z"
						fill="#10111E"></path>
					<path
						d="M154.01 172.486L158.67 182.973H157.147L155.64 179.667H151.82L150.33 182.973H148.782L153.491 172.486H154.01ZM155.031 178.24L153.746 175.388L152.462 178.24H155.031Z"
						fill="#10111E"
						stroke="#10111E"
						stroke-width="0.25"
						stroke-miterlimit="10"></path>
					<path
						d="M178.81 172.519H180.193V183.006H179.658L173.68 175.809V183.006H172.247V172.519H172.783L178.801 179.813V172.519H178.81Z"
						fill="#10111E"
						stroke="#10111E"
						stroke-width="0.25"
						stroke-miterlimit="10"></path>
					<path
						d="M201.954 174.747C202.498 175.639 202.77 176.684 202.77 177.884C202.77 178.929 202.555 179.845 202.119 180.647C201.699 181.442 201.131 182.041 200.423 182.43C199.731 182.811 198.776 183.006 197.541 183.006H194.297V172.519H196.496C197.928 172.519 198.99 172.64 199.665 172.892C200.645 173.256 201.411 173.872 201.954 174.756V174.747ZM195.656 181.588H196.528C197.846 181.588 198.743 181.507 199.213 181.336C199.904 181.101 200.423 180.688 200.777 180.096C201.172 179.497 201.37 178.759 201.37 177.892C201.37 177.025 201.156 176.198 200.736 175.55C200.316 174.91 199.731 174.472 198.999 174.229C198.414 174.042 197.451 173.953 196.109 173.953H195.664V181.588H195.656Z"
						fill="#10111E"
						stroke="#10111E"
						stroke-width="0.25"
						stroke-miterlimit="10"></path>
				</svg>
			</div>

			<div class="main-container">
				<div class="photo-container"></div>

				<div class="content-container">
					<svg
						width="406"
						height="190"
						viewBox="0 0 406 190"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
						class="desktop-logo"
					>
						<path
							d="M46.4623 30.0836C46.3882 36.6887 38.5745 50.6283 30.4562 50.6283H22.6507V26.4123H24.3715C30.1515 26.4123 35.454 33.0174 35.5363 35.9512H37.1007V13.9396H35.5363C35.4622 16.8734 30.1515 23.4785 24.3715 23.4785H22.6507V2.2044H28.1178C36.2362 2.2044 44.0417 13.0643 44.124 19.6694H45.6884V0.737488H0.765727C0.815129 0.996829 0.864532 1.25618 0.9057 1.51552C0.946869 1.74244 0.979803 1.97747 1.02097 2.2044H1.56439C5.15425 2.2044 6.24932 3.45247 6.24932 6.60509V46.2276C6.24932 49.3802 5.15425 50.6283 1.56439 50.6283H0V52.0952H48.0103V30.0836H46.4459H46.4623Z"
							fill="#10111E"></path>
						<path
							d="M64.4858 50.6283C68.0756 50.6283 69.1707 49.3802 69.1707 46.2276V6.60509C69.1707 3.45247 68.0756 2.2044 64.4858 2.2044H62.9214V0.737488H89.623C104.378 0.737488 116.325 11.8162 116.325 26.4204C116.325 41.0246 104.378 52.1033 89.623 52.1033H62.9214V50.6364H64.4858V50.6283ZM85.5639 2.2044V46.2276C85.5639 49.3802 86.6589 50.6283 90.2488 50.6283C98.9929 50.6283 98.9929 42.4104 98.9929 26.4123C98.9929 10.4142 98.9929 2.19629 90.3229 2.19629H85.5639V2.2044Z"
							fill="#10111E"></path>
						<path
							d="M130.215 50.6283C133.805 50.6283 134.9 49.3802 134.9 46.2276V6.60509C134.9 3.45247 133.805 2.2044 130.215 2.2044H128.65V0.737488H157.534V2.2044H155.97C152.38 2.2044 151.285 3.45247 151.285 6.60509V46.2276C151.285 49.3802 152.38 50.6283 155.97 50.6283H157.534V52.0952H128.65V50.6283H130.215Z"
							fill="#10111E"></path>
						<path
							d="M170.576 30.0107H172.14C177.682 41.3082 181.98 48.6427 188.616 50.6283C190.567 51.2118 192.519 51.3658 194.47 51.3658C198.373 51.3658 200.168 48.505 200.168 44.9795C200.168 28.252 170.502 34.4114 170.502 14.9689C170.502 9.83066 178.777 0 191.424 0C195.639 0 198.999 3.22556 203.371 3.22556C205.248 3.22556 207.043 2.5691 207.973 0.729393H209.538V19.0697H207.973C207.504 10.0495 197.978 1.4588 191.424 1.4588C187.99 1.4588 185.331 3.88201 185.331 9.82255C185.331 21.5578 214.058 15.3255 214.058 34.3303C214.058 38.6581 210.073 52.8165 194.462 52.8165C188.921 52.8165 181.815 49.1452 176.348 49.1452C174.553 49.1452 173.071 49.7287 172.132 51.3496H170.568V30.0026L170.576 30.0107Z"
							fill="#10111E"></path>
						<path
							d="M253.711 0C268.465 0 280.413 11.8162 280.413 26.4123C280.413 41.0084 268.465 52.8246 253.711 52.8246C238.956 52.8246 227.092 41.0084 227.092 26.4123C227.092 11.8162 238.956 0 253.711 0ZM263.081 26.4123C263.081 10.4142 262.381 1.4669 253.711 1.4669C245.041 1.4669 244.341 10.4142 244.341 26.4123C244.341 42.4104 245.041 51.3577 253.711 51.3577C262.381 51.3577 263.081 42.4104 263.081 26.4123Z"
							fill="#10111E"></path>
						<path
							d="M336.228 11.7433C336.228 9.76581 334.664 2.2044 329.979 2.2044H328.415V0.737488H345.59V2.2044H344.026C339.341 2.2044 337.776 8.29891 337.776 10.2764V40.7976C348.002 58.5544 380.55 115.018 393.436 115.018C397.025 115.018 399.446 113.843 401.085 112.23C401.628 111.492 401.867 110.982 401.867 110.617C401.867 109.734 400.615 109.661 398.195 109.661C393.905 109.661 390.389 106.362 390.389 102.326C390.389 98.2904 393.905 94.9919 398.195 94.9919C402.484 94.9919 406 98.2904 406 102.326C406 114.434 396.004 119.718 384.766 119.718C358.064 119.718 327.55 55.5477 310.918 25.4641L301.861 9.10125V41.0894C301.861 43.0669 303.426 50.6283 308.11 50.6283H309.675V52.0952H292.5V50.6283H294.064C298.749 50.6283 300.313 44.5338 300.313 42.5563V6.60509C300.313 3.45247 299.218 2.2044 295.628 2.2044H294.064V0.737488H315.85L330.061 26.7851C332.087 30.5293 334.12 34.2655 336.228 38.0097V11.7433Z"
							fill="#10111E"></path>
						<path
							d="M117.576 118.535C121.166 118.535 122.261 117.287 122.261 114.135V74.512C122.261 71.3594 121.166 70.1113 117.576 70.1113H116.012V68.6444H144.895V70.1113H143.331C139.741 70.1113 138.646 71.3594 138.646 74.512V114.135C138.646 117.287 139.741 118.535 143.331 118.535H144.895V120.002H116.012V118.535H117.576Z"
							fill="#10111E"></path>
						<path
							d="M184.483 70.1113C180.893 70.1113 179.798 71.3594 179.798 74.512V114.135C179.798 117.287 180.893 118.535 184.483 118.535C192.601 118.535 200.406 103.858 200.489 97.2611H202.053V120.01H157.163V118.543H158.728C162.318 118.543 163.413 117.295 163.413 114.143V74.5201C163.413 71.3675 162.318 70.1194 158.728 70.1194H157.946V68.6525H185.273V70.1194H184.491L184.483 70.1113Z"
							fill="#10111E"></path>
						<path
							d="M241.393 70.1113C237.804 70.1113 236.708 71.3594 236.708 74.512V114.135C236.708 117.287 237.804 118.535 241.393 118.535C249.512 118.535 257.317 103.858 257.4 97.2611H258.964V120.01H214.074V118.543H215.639C219.228 118.543 220.324 117.295 220.324 114.143V74.5201C220.324 71.3675 219.228 70.1194 215.639 70.1194H214.856V68.6525H242.184V70.1194H241.402L241.393 70.1113Z"
							fill="#10111E"></path>
						<path
							d="M49.5993 118.859C53.0575 118.859 54.1031 117.603 54.1031 114.426V74.4958C54.1031 71.3189 53.0492 70.0627 49.5993 70.0627H48.1008V68.5877H75.8975V70.0627H74.399C70.9409 70.0627 69.8952 71.3189 69.8952 74.4958V91.8717H84.1641V74.4958C84.1641 71.3189 83.1102 70.0627 79.6603 70.0627H78.1618V68.5877H105.958V70.0627H104.452C100.994 70.0627 99.948 71.3189 99.948 74.4958V114.426C99.948 117.603 101.002 118.859 104.452 118.859H105.958V120.334H78.1618V118.859H79.6603C83.1184 118.859 84.1641 117.603 84.1641 114.426V93.3548H69.8952V114.426C69.8952 117.603 70.9491 118.859 74.399 118.859H75.8975V120.334H48.1008V118.859H49.5993Z"
							fill="#10111E"></path>
						<path
							d="M303.113 60.6535C309.238 60.6535 309.667 65.6863 309.667 69.7223V87.4305H308.242C307.814 78.7182 299.128 70.4274 293.15 70.4274C290.013 70.4274 287.592 72.7696 287.592 78.4994C287.592 89.8375 313.8 83.8159 313.8 102.156C313.8 113.559 301.268 120.01 289.519 120.01C279.334 120.01 269.791 115.123 269.791 104.28C269.791 100.381 272.994 97.1963 276.913 97.1963C280.832 97.1963 284.035 100.381 284.035 104.28C284.035 108.178 280.832 111.363 276.913 111.363C274.995 111.363 274.138 111.646 274.138 112.214C274.138 112.57 274.493 113.065 275.061 113.705C278.338 117.174 283.895 118.592 289.519 118.592C294.574 118.592 301.128 117.32 301.128 112.433C301.128 96.2805 274.064 102.229 274.064 83.4593C274.064 78.4994 281.615 69.0091 293.15 69.0091C296.921 69.0091 300.124 71.9105 304.183 71.9105C306.324 71.9105 308.176 71.0595 308.176 68.3689C308.176 67.5908 308.102 66.7399 307.888 65.9619C307.674 65.2568 307.386 64.9002 307.032 64.9002C306.818 64.9002 306.53 65.0379 306.324 65.4675C305.682 66.6021 304.545 67.5179 303.121 67.5179C301.194 67.5179 299.704 66.0267 299.704 64.114C299.704 62.2014 301.202 60.6454 303.121 60.6454L303.113 60.6535Z"
							fill="#10111E"></path>
						<path
							d="M31.5924 84.4642C26.8993 84.4642 23.0542 88.0707 23.0542 92.4876C23.0542 96.9045 26.8993 100.511 31.5924 100.511C31.9382 100.511 32.0206 100.592 32.0206 100.673C32.0206 100.997 29.8881 101.873 27.665 101.873C20.2383 101.873 16.1379 95.778 16.1379 88.873C16.1379 80.2094 22.626 70.1762 36.8866 70.1762C36.8866 70.1762 35.9233 70.1113 41.8351 70.1762C47.7468 70.241 54.9594 69.7385 49.1383 68.5715H32.0206C18.361 68.5715 10.679 77.2351 10.679 85.9798C10.679 97.4475 16.9942 104.271 27.665 104.271C34.4083 104.271 40.1307 99.4574 40.1307 92.4795C40.1307 88.0626 36.2856 84.4562 31.5924 84.4562V84.4642Z"
							fill="#10111E"></path>
						<path
							d="M18.4268 164.714H21.9343V189.562H20.5923L5.46709 172.503V189.562H1.8443V164.714H3.18638L18.4268 181.993V164.714Z"
							fill="#10111E"></path>
						<path
							d="M59.5043 168.167H48.076V174.488H59.389V177.941H48.076V186.175H59.389V189.595H44.5273V164.747H59.5043V168.167Z"
							fill="#10111E"></path>
						<path
							d="M107.161 164.714H110.783L103.538 189.562H102.27L95.51 172.543L88.5608 189.562H87.3258L80.1543 164.714H83.8183L88.4126 180.672L94.8348 164.714H96.1028L102.492 180.672L107.161 164.714Z"
							fill="#10111E"></path>
						<path
							d="M265.995 167.689C268.556 170.209 269.84 173.297 269.84 176.952C269.84 180.607 268.556 183.695 265.995 186.215C263.426 188.744 260.306 190 256.626 190C252.945 190 249.75 188.736 247.14 186.215C244.572 183.695 243.295 180.639 243.295 177.065C243.295 174.691 243.88 172.486 245.049 170.452C246.218 168.418 247.824 166.821 249.866 165.671C251.858 164.52 254.04 163.944 256.403 163.944C260.215 163.944 263.41 165.192 266.004 167.697L265.995 167.689ZM266.218 176.952C266.218 175.161 265.806 173.548 264.983 172.097C264.135 170.679 262.941 169.528 261.401 168.645C259.853 167.786 258.223 167.356 256.51 167.356C254.798 167.356 253.25 167.786 251.727 168.645C250.236 169.528 249.051 170.695 248.178 172.138C247.33 173.58 246.91 175.226 246.91 177.065C246.91 178.435 247.149 179.675 247.618 180.777C248.063 181.879 248.762 182.901 249.709 183.824C250.656 184.756 251.702 185.445 252.846 185.883C253.941 186.353 255.16 186.58 256.51 186.58C258.256 186.58 259.894 186.167 261.442 185.332C262.957 184.473 264.135 183.314 264.95 181.839C265.798 180.421 266.218 178.783 266.218 176.952Z"
							fill="#10111E"></path>
						<path
							d="M295.241 186.183H304.537V189.562H291.725V164.714H295.233V186.183H295.241Z"
							fill="#10111E"></path>
						<path
							d="M345.096 170.006C346.463 172.114 347.154 174.594 347.154 177.43C347.154 179.902 346.603 182.09 345.507 183.97C344.437 185.859 343.004 187.269 341.209 188.201C339.464 189.109 337.035 189.562 333.923 189.562H325.706V164.714H331.272C334.911 164.714 337.587 165.006 339.299 165.598C341.786 166.457 343.721 167.924 345.088 170.006H345.096ZM329.147 186.215H331.354C334.688 186.215 336.953 186.021 338.155 185.624C339.9 185.056 341.218 184.076 342.115 182.682C343.111 181.263 343.605 179.521 343.605 177.462C343.605 175.404 343.07 173.459 342 171.911C340.93 170.395 339.464 169.35 337.595 168.783C336.129 168.345 333.684 168.118 330.275 168.118H329.155V186.207L329.147 186.215Z"
							fill="#10111E"></path>
						<path
							d="M154.01 172.486L158.67 182.973H157.147L155.64 179.667H151.82L150.33 182.973H148.782L153.491 172.486H154.01ZM155.031 178.24L153.746 175.388L152.462 178.24H155.031Z"
							fill="#10111E"
							stroke="#10111E"
							stroke-width="0.25"
							stroke-miterlimit="10"></path>
						<path
							d="M178.81 172.519H180.193V183.006H179.658L173.68 175.809V183.006H172.247V172.519H172.783L178.801 179.813V172.519H178.81Z"
							fill="#10111E"
							stroke="#10111E"
							stroke-width="0.25"
							stroke-miterlimit="10"></path>
						<path
							d="M201.954 174.747C202.498 175.639 202.77 176.684 202.77 177.884C202.77 178.929 202.555 179.845 202.119 180.647C201.699 181.442 201.131 182.041 200.423 182.43C199.731 182.811 198.776 183.006 197.541 183.006H194.297V172.519H196.496C197.928 172.519 198.99 172.64 199.665 172.892C200.645 173.256 201.411 173.872 201.954 174.756V174.747ZM195.656 181.588H196.528C197.846 181.588 198.743 181.507 199.213 181.336C199.904 181.101 200.423 180.688 200.777 180.096C201.172 179.497 201.37 178.759 201.37 177.892C201.37 177.025 201.156 176.198 200.736 175.55C200.316 174.91 199.731 174.472 198.999 174.229C198.414 174.042 197.451 173.953 196.109 173.953H195.664V181.588H195.656Z"
							fill="#10111E"
							stroke="#10111E"
							stroke-width="0.25"
							stroke-miterlimit="10"></path>
					</svg>
					<h1>Coming soon to Cookeville's West Side.</h1>

					<p>
						Edison Hills is a new retail space in Cookeville,
						Tennessee, featuring curated vintage home goods and
						clothing, modern gifts, and a creative classroom.
					</p>

					<p>
						<strong>Sign up to be notified when we open! </strong>
					</p>

					<!-- Mailchimp Signup -->
					<div id="mc_embed_shell">
						<!-- <link
						href="//cdn-images.mailchimp.com/embedcode/classic-061523.css"
						rel="stylesheet"
						type="text/css"
					/> -->
						<div id="mc_embed_signup">
							<form
								action="https://abbyweeden.us19.list-manage.com/subscribe/post?u=e41674d0ea60b32969a16c678&id=484bb9e1d8&f_id=002b01e4f0"
								method="post"
								id="mc-embedded-subscribe-form"
								name="mc-embedded-subscribe-form"
								class="validate"
								target="_blank"
							>
								<div class="email-wrapper">
									<div class="mc-field-group">
										<!-- <label for="mce-EMAIL">Email Address</label -->
										<input
											type="email"
											name="EMAIL"
											class="required email"
											id="mce-EMAIL"
											required=""
											value=""
											placeholder="Email Address"
										/>
									</div>
									<div hidden="">
										<input
											type="hidden"
											name="tags"
											value="4032048"
										/>
									</div>
									<div id="mce-responses" class="clear foot">
										<div
											class="response"
											id="mce-error-response"
											style="display: none;"
										>
										</div>
										<div
											class="response"
											id="mce-success-response"
											style="display: none;"
										>
										</div>
									</div>
									<div
										style="position: absolute; left: -5000px;"
										aria-hidden="true"
									>
										/* real people should not fill this in
										and expect good things - do not remove
										this or risk form bot signups */
										<input
											type="text"
											name="b_e41674d0ea60b32969a16c678_484bb9e1d8"
											tabindex="-1"
											value=""
										/>
									</div>
								</div>
								<input
									type="submit"
									name="subscribe"
									id="mc-embedded-subscribe"
									class="button"
									value="Sign Up"
								/>
							</form>
						</div>
					</div>
					<script
						type="text/javascript"
						src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
					></script><script type="text/javascript">
						(function ($) {
							window.fnames = new Array();
							window.ftypes = new Array();
							fnames[0] = "EMAIL";
							ftypes[0] = "email";
							fnames[1] = "FNAME";
							ftypes[1] = "text";
							fnames[2] = "LNAME";
							ftypes[2] = "text";
							fnames[3] = "ADDRESS";
							ftypes[3] = "address";
							fnames[4] = "PHONE";
							ftypes[4] = "phone";
							fnames[5] = "BIRTHDAY";
							ftypes[5] = "birthday";
							fnames[6] = "ACUITYTYPE";
							ftypes[6] = "text";
							fnames[7] = "ACUITYDATE";
							ftypes[7] = "date";
						})(jQuery);
						var $mcj = jQuery.noConflict(true);
					</script>
				</div>
			</div>
		</div>
	</main>

	<footer>
		<p>
			127 W. Broad St, Cookeville, TN, 38501 · <a
				href="mailto:hello@edisonhills.com&subject=Hello!"
				>hello@edisonhills.com</a
			>
		</p>
	</footer>

	<style>
		body {
			margin: 0;
			padding: 0;
		}
		.container {
			flex-direction: column;
			padding: 4rem 0 0;
			max-width: 1400px;
			margin: auto;
			background: url("/edison-hills-splash/public/glassware.png") top right no-repeat;
		}
		.main-container {
			display: flex;
		}
		.mobile-logo-container {
			display: none;
		}
		.desktop-logo {
			transform: translatex(-50%);
			margin: 4rem 0;
		}
		.logo {
			margin: 4rem auto 2rem;
			width: 400px;
			height: auto;
		}
		.banner {
			display: flex;
			background: var(--banner-color);
			text-transform: uppercase;
			color: var(--tan);
			text-align: center;

			ul {
				padding: 1rem 1rem;
				margin: auto;

				li {
					display: inline-block;
					padding-right: 1rem;

					&::after {
						content: "·";
						margin-left: 1rem;
					}

					&:last-child::after {
						display: none;
					}
				}
			}
		}
		.photo-container {
			flex: 6;
			margin: 0 2rem;
			height: 0;
			background: url("/edison-hills-splash/public/0189abbyweeden.jpg");
			background-size: cover;
			width: 100%;
			padding-top: 70%;
			border-radius: 0 32px;
		}
		.content-container {
			flex: 6;
			padding: 0 4rem;
		}
		h1 {
			font-size: 3.5rem;
		}
		footer {
			padding-top: 2rem;
			text-align: center;

			p {
				font-size: 1rem;
			}
		}
		input,
		button {
			padding: 1rem;
			border-radius: 8px;
			border: none;
		}

		form#mc-embedded-subscribe-form {
			display: flex;

			label {
				display: block;
			}

			.mc-field-group {
				display: flex;
				flex-direction: column;
			}

			input.mce_inline_error {
				border-color: var(--red);
			}

			div.mce_inline_error {
				margin-top: 1rem;
				border-radius: 4px;
				background-color: var(--red);
				margin-right: 1rem;
			}

			.email-wrapper {
				flex: 100%;
				input {
					display: flex;
					flex: 100%;
					padding: 1rem;
					margin-right: 1rem;
				}
			}

			.button {
				background-color: var(--yellow);
				font-weight: bold;
				font-size: 1rem;
				height: 3.5rem;
				cursor: pointer;
				border: 2px solid #dcae30;

				&:hover {
					background-color: #ac892b;
					color: white;
				}
			}

			#mce-success-response {
				margin-top: 1rem;
				padding: 1rem;
				background: var(--green);
			}
		}

		input {
			border: 2px solid var(--yellow);
			font-size: 1rem;
		}

		@media only screen and (max-width: 1200px) {
			.container {
				background-position: center -200px;
				/* padding-top: 4rem; */
			}

			.desktop-logo {
				display: none;
			}

			.mobile-logo-container {
				display: flex;

				.logo {
					flex: 100%;
					max-width: 400px;
					padding: 0 3rem;
					margin-top: 0;
					/* transform: translateX(10px);
					margin-right: 10px; */
				}
			}

			.main-container {
				flex-direction: column;
				max-width: 800px;
				margin: auto;
				padding: 1rem;
			}

			.photo-container {
				padding-top: 60%;
				background-position: center 50%;
				margin: 0;
				border-radius: 32px;

				img {
					border-radius: 32px;
					height: 600px;
					/* width: auto; */
				}
			}

			.content-container {
				transform: translateY(-50%);
				padding: 0;

				h1 {
					font-size: 3rem;
				}

				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					height: 100%;
					width: 100%;
					background: linear-gradient(
						0deg,
						rgb(255, 243, 217) 0%,
						rgba(255, 243, 217, 0.9) 90%,
						rgba(255, 243, 217, 0) 100%
					);
					z-index: -1;
				}
			}
		}

		@media only screen and (max-width: 600px) {
			.container {
				padding-top: 3rem;
			}

			.content-container {
				transform: translateY(-20%);

				h1 {
					font-size: 2rem;
				}
			}

			.photo-container {
				img {
					border-radius: 32px;
					height: 400px;
				}
			}
		}
	</style>
</Layout>
